<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>students</title>
</head>
<body>
<!--header section-->
<header th:replace="fragments/header :: header">...</header>

<!--main section-->
<main>
    <div class="user">
        <div class="update-user container">
            <h3>Edit Student Profile</h3>
            <form th:action="@{/students}" action="#" th:object="${students}" method="post">
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" id="firstname" th:field="*{firstname}" class="form-control" name="firstname" />
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">First Name</label>
                    <input type="text" id="lastname" th:field="*{firstname}" class="form-control" name="firstname" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control" name="email" />
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age</label>
                    <input type="text" id="age" th:field="*{age}" class="form-control" name="age" />
                </div>

                <button type="submit" class="btn btn-primary form-control mt-3">Create</button>
            </form>

            <div class="close mt-3">
                <a th:href="@{/students" class="btn btn-info">Close</a>
            </div>
        </div>

    </div>


</main>
<!--header section-->
<footer th:replace="fragments/footer :: footer">...</footer>


<!--javascript section-->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
